extends layout

block content
    nav.navbar.navbar-expand-lg.navbar-light.bg-light
   
   
    .collapse.navbar-collapse(id='navbarSupportedContent')
        ul.navbar-nav.mr-auto
        li.nav-item.active
            a.nav-link(href='#') Home
        li.nav-item
            a.nav-link(href='/tutors/groups') Grupos
        li.nav-item
            a.nav-link(href='/tutors/tasks') Tareas
       
            
 
  
    
